h1.hello {
    color: green;
}

h1.goodbye {
    color: red;
}

.productList {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}